<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392244606153-etoggeuug9v3u93rf8lv3shq4ag0la48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392244606153-etoggeuug9v3u93rf8lv3shq4ag0la48</string>
	<key>API_KEY</key>
	<string>AIzaSyDyYI1Uwbcs-6EIj_L_Gq4YDtmz2c8D9NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>392244606153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qringMultiPlatform</string>
	<key>PROJECT_ID</key>
	<string>qring-99f90</string>
	<key>STORAGE_BUCKET</key>
	<string>qring-99f90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392244606153:ios:c02ead460605b8f2848918</string>
</dict>
</plist>